{% extends "layouts/application" %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    <div class="container mt-5">
        <h1>Home</h1>
        <a href="/clients">Clients</a>
    </div>
{% endblock content %}
