<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clients</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
        tr:hover {
            background-color: #ddd;
        }

    </style>

</head>
<body>
    <h1>Clients</h1>
  <table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>CPF</th>
        </tr>
    </thead>
    <tbody>
    {% for client in clients %}
        <tr>
            <td>{{ client.id }}</td>
            <td>{{ client.name }}</td>
            <td>{{ client.cpf }}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>
</body>
</html>